<%- include('partials/header') %>
<%- include('partials/navbar') %>

<div class="not-found">
    <h1>404</h1>
    <h3>Page Not Found</h3>
    <p>Yeh page exist nahi karta.</p>
    <a href="/">Go Back Home</a>
</div>

<%- include('partials/footer') %>